@page "/"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h3 class="card-title"><strong>Bem-Vindo a Agência de Turismo</strong></h3>
    <p class="card-subtitle">Faça Login para Continuar</p>
</div>
